<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rip.load.mapper.BankFundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rip.load.pojo.BankFund">
        <id column="user_id" property="userId" />
        <result column="fund" property="fund" />
        <result column="poundage" property="poundage" />
        <result column="risk_fund" property="riskFund" />
    </resultMap>

</mapper>
