<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rip.load.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rip.load.pojo.Order">
        <id column="id" property="id" />
        <result column="realname" property="realname" />
        <result column="phone" property="phone" />
        <result column="borrow_money" property="borrowMoney" />
        <result column="arrival_money" property="arrivalMoney" />
        <result column="time_limit" property="timeLimit" />
        <result column="status" property="status" />
        <result column="application_time" property="applicationTime" />
        <result column="due_time" property="dueTime" />
        <result column="remark" property="remark" />
        <result column="expense_detailId" property="expenseDetailid" />
        <result column="contractId" property="contractId" />
        <result column="reject_reason" property="rejectReason" />
    </resultMap>

</mapper>
