<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rip.load.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rip.load.pojo.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="desc" property="desc" />
    </resultMap>


    <select id="getUserRole" resultMap="BaseResultMap">
        select r.* from rip_role r left join rip_user_role ur on r.id = ur.rid
        where ur.uid = #{userId}
    </select>
</mapper>
